.header__menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    min-height: 293px;
    padding: 0px 50px;
    font-size: 18px;
}
.header__links-list {
    display: flex;
    grid-column: 1/6;
    gap: 32px;
    list-style: circle;
    letter-spacing: 0.18px;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link_active {
    text-decoration: none;
}
.header__logo {
    display: block;
    width: 130px;
    grid-column: 6/8;
    justify-self: center;
}
.header__address {
    grid-column: 10/-1;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 10px;
}
.cover {
    position: relative;
    height: 757px;
    padding: 165px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/cover.jpg) center/cover;
    color: #fff;
    text-transform: uppercase;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
}
.cover__title {
    position: relative;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 1.23;
    font-weight: bold;
}
.aligned-text {
    display: block;
    text-align: left;
}
.aligned-text_center {
    display: block;
    text-align: center;
}
.aligned-text_right {
    display: block;
    text-align: right;
}
.letter-spacing-extended {
    letter-spacing: 62px;
}
.no-letter-spacing {
    letter-spacing: normal;
}
.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    gap: 80px;
    align-items: center;
    font-size: 22px;
}
.cover__description-text {
    word-spacing: 18px;
}
.bet-button {
    width: 255px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.lots {
    height: 1010px;
    padding: 180px 24px 146px 24px;
}
.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}
.lots__card-list {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}
.card-link {
    text-decoration: none;
    color: #fff;
}
.card {
    width: 334px;
    min-height: 563px;
    padding: 50px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover;
}
.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover;
}
.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover;
}
.card__title {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}
.card__text {
    position: relative;
    font-size: 20px;
    line-height: 24px;
}
.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
}
.about {
    min-height: 740px;
    padding: 45px 24px 0 24px;
}
.about__column {
    display: grid;
    grid-template-columns: 334px 690px;
    gap: 5px 25px;
}
.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    justify-self: center;
}
.about__logo-image {
    width: 141px;
    height: 112px;
}
.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    align-content: center;
    justify-content: flex-start;
}
.about__text {
    grid-area: 2/2;
    font-size: 20px;
    line-height: 24px;
}
.footer {
    height: 177px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    padding: 0 50px;
    font-size: 18px;
}
.footer__address {
    font-style: normal;
    line-height: 24px;
}
.footer ul {
    list-style-type: none;
}
.footer__menu {
    text-align: center;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}
.footer__social-icon {
    width: 48px;
}
